rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
		match /todos/{mail}/{documents=**} {
    	allow read, write, delete, update: if request.auth != null && request.auth.token.email == mail;
      allow create:  if request.auth != null;
    }
  }
}